:root {
  --nw-red: #f72210;
  --nw-main-bg: #f4f5f6;
}
body {
  background-color: var(--nw-main-bg);
}
.container-fluid {
  max-width: 1310px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header > div {
  background-color: var(--nw-red);
}
header svg {
  fill: white;
  width: 132px;
  height: 20px;
}
nav {
  position: relative;
  background-color: white;
}
nav > div::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 78px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}
.subscribe-btn,
.subscribe-btn:hover {
  background-color: white;
  color: var(--nw-red);
}
.subscribe-btn svg {
  fill: var(--nw-red);
  width: 8px;
  height: 14px;
  margin-left: 10px;
}
.genericon {
  cursor: pointer;
}
.genericon-menu > span {
  margin-top: 4px;
  margin-bottom: 4px;
}
.genericon-menu::before,
.genericon-menu::after {
  content: "";
}
.genericon-menu > span,
.genericon-menu::before,
.genericon-menu::after {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #fb9a94;
}
.search {
  position: relative;
  margin-right: calc(78px + 2rem);
}
.search::after {
  content: "";
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: -28px;
}
main {
  background-color: white;
}
article {
  line-height: 1.25rem;
}
figure {
  display: grid;
}
figure img {
  grid-area: 1 / 1 / -1 / -1;
}
figure figcaption {
  grid-area: 1 / 1 / -1 / -1;
  align-self: end;
  justify-self: start;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.25rem 1rem;
}
figcaption a {
  color: var(--nw-red);
}
figcaption a:hover {
  color: var(--nw-red);
  text-decoration: none;
}
h5 a {
  color: black;
}
h5 a:hover {
  color: black;
  text-decoration: underline var(--nw-red);
}
@media (min-width: 992px) {
  header svg {
    width: 396px;
    height: 60px;
  }
}
